/* buttons */
.btn-yellow {
    border: 3px solid #e68137;
    color: #fff;
    -webkit-border-radius: 0;
            border-radius: 0;
    font-size: 2rem;
    padding: 3rem 5.5rem;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    outline: none;
    white-space: normal;
    text-shadow: none;
}
.btn-lg.btn-yellow{
    font-size: 2.2rem;
}
.btn-yellow.btn-block {
    padding: 16px 0;
}
.btn-block-xs {
    display: block;
}


.btn-yellow {
    background: #e68137;
    outline: none !important;
}

.btn-yellow.invert {
    background: none;
}

.btn-yellow:active,
.btn-yellow:hover,
.btn-yellow:focus {
    border: 3px solid #e68137;
    background: none;
    text-decoration: none;
    color: #e68137;

}

.btn-yellow.invert:active,
.btn-yellow.invert:hover,
.btn-yellow.invert:focus {
    border: 3px solid #e68137;
    background: #e68137;
    text-decoration: none;
    color: #fff;
}

.btn.arrow-down {
    position: relative;
    padding: 17px 60px 17px 41px;
}

.btn.arrow-down:after{
    content: "";
    width: 16px;
    height: 20px;
    background-image: url("../img/arrow-down.png");
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    /* z-index: 35; */
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -10px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .btn-block-xs {
        display: inline-block;
    }
    .btn-yellow {
        padding: 20px 37px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .btn-yellow {
        padding: 20px 55px;
    }
}

