/*

*/

html {
    height: 100%;
}

body {
    width: 100%;
    background: #fbfbfb;
    color: #3f3e3c;
    /*padding-top: 2.9rem;*/ /* 29px */
}
body.full-height .thanks {
    position: relative;
    min-height: 100%;

    background: url('../img/bg-header.jpg') no-repeat center center;
    background-size: cover;
}


.header {
    background: url('../img/bg-header.jpg') no-repeat center center;
    background-size: cover;

    padding-top: 2rem;
}
.thanks .header {
    background: none;
}

.logo-image {
    display: block;
    float: left;
    padding-right: 2rem;
}
.logo-text {
    display: block;
    float-left;
    font-size: 1.9rem;
    line-height: 1.3;
    margin-top: 0.5rem;
}
.contacts .phone {
    font-size: 3rem;
    padding-left: 1.5rem;
    line-height: 1;
}
.contacts .phone .glyphicon {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 1rem;
    display: inline-block;
}
.contacts .callback {
    font-size: 1.6rem;
    padding-bottom: 3px;
    /*border-bottom: 1px dotted #fff;*/
    text-decoration: none;
    background-image: linear-gradient(to right, #a6a3a1 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 6px 2px;
    background-repeat: repeat-x;
    outline: none !important;
}
.contacts .callback:hover {
    /*border-bottom: none;*/
    background: none;
}
.accent {
    border-bottom: 3px solid #e68137;
}
.bg-curve {
    display: block;
    background: url('../img/bg-curve.png') no-repeat center center;
    height: 5rem;
}




.section-1 {
    background: #fff;
    padding-top: 8rem;
    padding-bottom: 8rem;
    z-index: 1;
}
.section-1 .image {
    position: relative;
    z-index: 2;
}
.section-1 .image:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/bg-section-1-img.jpg') no-repeat top center;
    background-size: 100% auto;
    z-index: -1;
}

.section-1 .text {
    padding: 2rem;
    background: #fff;
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.1), -10px -10px 50px 0px rgba(0,0,0,0.1);
    z-index: 10;
    position: relative;
    margin-top: 60px;
}

.section-1 .text:before {
    position: absolute;
    content: '';
    display: block;
    background: url('../img/bg-section-1-text-top.png') no-repeat top center;
    background-size: cover;
    top: -50px;
    left: -5px;
    width: 117px;
    height: 117px;
}
.section-1 .text:after {
    position: absolute;
    content: '';
    display: block;
    background: url('../img/bg-section-1-text-bottom.png') no-repeat top center;
    background-size: cover;
    bottom: -5px;
    right: 25px;
    width: 86px;
    height: 106px;
    z-index: -1;
}

.section-1 .text-wrapper {
    padding: 9rem 3rem 3rem 3rem;
    border: 2px dashed #dcdcdc;
    border-radius: 0.5rem;
}




.section-2 {
    background: url('../img/bg-section-2.jpg') no-repeat center center;
    background-size: cover;
}
.section-2 .container {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.section-2 .container:after {
    position: absolute;
    content: '';
    display: block;
    background: url('../img/bg-section-2-top.png') no-repeat center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 150px;
    left: -150px;
}

.section-2 .h1 {
    font-size: 7rem;
}
.section-2 .h2 {
    font-size: 5.2rem;
}
.section-2 .h3 {
    font-size: 3.5rem;
}

.section-2 .part {
    position: relative;
    padding-bottom: 65%;
    font-size: 0;
}
.section-2 .part:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.section-2 .part-one:after {
    background: url('../img/bg-section-2-middle-1.png') no-repeat center center;
    background-size: contain;
    z-index: 1;
}
.section-2 .part-two:after {
    background: url('../img/bg-section-2-middle-2.png') no-repeat center center;
    background-size: contain;
    z-index: 2;
}


.section-3 {
    padding-bottom: 8rem;
    background: #fefefc;
}
.section-3 .content {
    z-index: 2;
}
.section-3 .h1 {
    font-size: 5.2rem;
}
.section-3 .h3 {
    font-size: 4.1rem;
}
.section-3 .img-block {
    position: relative;
    width: 80%;
    padding-bottom: 80%;
    margin-left: auto;
    margin-top: -20%;
    z-index: 1;
}
.section-3 .img-block:after {
    position: absolute;
    display: block;
    content: '';
    background: url('../img/bg-section-3.jpg') no-repeat center center;
    background-size: cover;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}




.section-4 {
    padding-top: 8rem;
    /*padding-bottom: 8rem;*/
    background: url('../img/bg-section-4-top.jpg') repeat-x center top #f2f3ee;
}

.pdf {
    float: right;
}


.section-5 {
    background: #fefefc;
}
.needs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.needs ul li {
    float: left;
    display: inline-block;
    padding-right: 3rem;
    padding-left: 3rem;
    border-left: 2px solid #dfd6c7;
}
.needs ul li:first-child {
    padding-left: 0;
    border-left: none;
}
.section-5 .container {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    z-index: 1;
}
.section-5 .container:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/bg-section-5.jpg) no-repeat bottom right;
    display: block;
    background-size: 60%;
    z-index: -1;
}

.section-6 {
    background: url('../img/bg-section-6.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}



.footer {
    background-color: #2b2a28;
    color: #8e8e8e;
    font-size: 14px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer a {
    color: #8e8e8e;
}
.contacts-footer {
    margin-top: 3rem;
}
.contacts-footer .phone {
    display: block;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    display: block;
}
.contacts-footer .phone .glyphicon {
    font-size: 22px;
    font-weight: bold;
    padding-right: 10px;
    display: inline-block;
}

.contacts-footer .callback {
    text-decoration: none;
    background-image: linear-gradient(to right, #a6a3a1 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    outline: none !important;
    padding-top: 0.5rem;
    text-align: center;
    display: inline-block;
}
.contacts-footer .callback:hover {
    background: none;
}
.callback-wrap {
    margin: 0 auto;
    text-align: center;
}
.footer .copyright,
.footer .privacy,
.footer .social {
    text-align: center;
    display: block;
}
.footer .privacy,
.footer .social {
    margin-top: 3rem;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .logo-text {
        font-size: 1.4rem;
    }

    .contacts-footer {
        margin-top: 0;
    }

    .footer .privacy,
    .footer .social {
        margin-top: 3rem;
    }
    .footer .social {
        float: right;
    }
    .footer .copyright,
    .footer .privacy,
    .footer .social {
        text-align: inherit;
    }
    .contacts-footer .callback {
        float: right;
    }

    .pdf {
        margin-top: 2rem;
        padding-right: 5rem;
    }

    .section-1 .text:before {
        top: -90px;
        left: -10px;
        width: 234px;
        height: 234px;
    }

    .section-1 .text:after {
        width: 192px;
        height: 212px;
    }

    body.full-height {
        padding-top: 0; /* 29px */
        height: 100%;
    }

    body.full-height .thanks {
        min-height: 100%;
    }

    .thanks .header {
        padding-bottom: 140px;
    }
    .thanks .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .footer .privacy,
    .footer .social {
        margin-top: 0;
    }
    .footer .social {
        float: none;
    }

    .section-5 .container:after {
        right: -5rem;
    }

    .pdf {
        margin-top: 2rem;
        padding-right: 0;
    }

    .section-1 .text {
        margin-right: -4rem;
        margin-top: 0;
    }

    .section-1 .image {
        margin-top: -4rem;
    }
    .section-1 .image:before {
        left: -5rem;
        right: -5rem;
    }


    .section-3 .img-block {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        margin-top: 0;
    }

    .section-2 .container:after {
        width: 375px;
        height: 375px;
        top: -30px;
        left: -265px;
    }

    .section-2 .part {
        position: relative;
        padding-bottom: 72.222222%;
        margin-left: -15px;
        margin-right: -15px;
    }

    .section-2 .part-one:after {
        left: -3rem;
        right: 1.8rem;
        background-size: cover;
    }
    .section-2 .part-two:after {
        left: -5rem;
        right: -4rem;
        top: 0;
        bottom: 0;
        background-size: cover;
    }

    .section-5 .container:after {
        background-size: contain;
    }

    .thanks .header {
        padding-bottom: 100px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .pdf {
        margin-top: 2rem;
        padding-right: 4rem;
    }

    .section-3 .img-block:after {
        right: -5rem;
        bottom: -8rem;
        left: -3rem;
    }
}
