.text-center-xs {
    text-align: center;
}
.block-center-xs {
    text-align: center;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-center-sm {
    text-align: center;
}
.block-center-sm {
    text-align: center;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* tools */
.relative {
    position: relative !important;
}
.nm.always {
    margin: 0 !important;
}
.m1.always {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.m3.always {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.m5.always {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}
.m7.always {
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
}

.mt1.always {
    margin-top: 1rem !important;
}
.mt2.always {
    margin-top: 2rem !important;
}
.mt3.always {
    margin-top: 3rem !important;
}
.mt5.always {
    margin-top: 5rem !important;
}
.mt7.always {
    margin-top: 7rem !important;
}
.mt10.always {
    margin-top: 10rem !important;
}
.mb5.always {
    margin-bottom: 5rem !important;
}
.mb10.always {
    margin-bottom: 10rem !important;
}
.ml-5.always {
    margin-left: -5rem;
}

@media only screen and (min-width : 768px) {

    .text-center-xs {
        text-align: initial;
    }
    .block-center-xs {
        text-align: initial;
        display: initial;
        margin-left: initial;
        margin-right: initial;
    }

    .nm {
        margin: 0 !important;
    }
    .m1 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .m3 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .m5 {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    .m7 {
        margin-top: 7rem !important;
        margin-bottom: 7rem !important;
    }
    .mt1 {
        margin-top: 1rem !important;
    }
    .mt2 {
        margin-top: 2rem !important;
    }
    .mt3 {
        margin-top: 3rem !important;
    }
    }
    .mt5 {
        margin-top: 5rem !important;
    }
    .mt7 {
        margin-top: 7rem !important;
    }
    .mb5 {
        margin-bottom: 5rem !important;
    }
    .mt10 {
        margin-top: 10rem !important;
    }
    .mb10 {
        margin-bottom: 10rem !important;
    }
    .ml-5 {
        margin-left: -5rem;
    }
}

@media only screen and (min-width : 992px) {
    .text-center-sm {
        text-align: initial;

    }
    .block-center-sm {
        text-align: initial;
        display: initial;
        margin-left: initial;
        margin-right: initial;
    }
}