<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>«ПаПан» - План по открытию авторской пекарни за 8 недель</title>
        <meta name="description" content=""/>

        <!-- Bootstrap -->
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/intl-tel-input/css/intlTelInput.css" rel="stylesheet">

        <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <link href="fonts/fonts.css" rel="stylesheet">

        <link href="css/layout.css?ver=1.00001" rel="stylesheet">
        <link href="css/typo.css?ver=1.00001" rel="stylesheet">
        <link href="css/form.css?ver=1.00001" rel="stylesheet">
        <link href="css/buttons.css?ver=1.00001" rel="stylesheet">
        <link href="css/tools.css?ver=1.00001" rel="stylesheet">
        <link href="css/popup.css?ver=1.00001" rel="stylesheet">

        <link href="css/main.css?ver=1.00001" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
             <link rel="icon" type="image/png" href="favicon.png" sizes="16x16">
    </head>
    <body>
        <div class="landing">

            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="/" class="logo clearfix text-white">
                                <span class="logo-image"><img src="img/logo.png" class="img-responsive" alt=""/></span>
                                <span class="logo-text">«ПаПан»<br/>План по открытию<br/>авторской пекарни за 8 недель</span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <div class="contacts pull-right">
                                <div class="text-right">
                                    <a href="tel:89100007373" class="phone text-white"><span class="glyphicon glyphicon-earphone"></span><span class="appetite">8 910 000-73-73</span></a>
                                </div>
                                <div class="text-right">
                                    <a href="#" class="callback text-white" data-toggle="modal" data-target="#send-query" data-title="Заказать звонок" data-button="Заказать">Заказать звонок</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <h1 class="text-center text-white mt10 always">Кормите людей вкусной&nbsp;выпечкой</h1>
                        <div class="h4 text-center text-white mt2 always">И зарабатывайте на собственной пекарне <span class="accent">от&nbsp;3,7&nbsp;до&nbsp;12&nbsp;млн&nbsp;рублей</span> в год</div>
                        <div class="bg-curve m3 always">&nbsp;</div>
                        <div class="super text-white text-center">Наш 5 летний опыт как ваша гарантия прибыли<br/>уже в первый месяц работы</div>
                        <div class="text-center mt3 always">
                            <a href="#" data-toggle="modal" data-target="#send-query" data-title="Оставьте заявку на презентацию франшизы" data-button="Скачать" class="btn btn-yellow btn-lg">Скачать презентацию</a>
                        </div>
                        <div class="mt2 mb10 text-center text-white">PDF, 15 Mb</div>

                    </div>
                </div>
            </div>

            <section class="section section-1">
                <div class="container">
                    <div class="h1 text-center">Россия занимает одно из первых мест по потреблению выпечки</div>

                    <div class="row">
                        <div class="col-md-6 col-md-push-6 mt7">
                            <div class="image">
                                <img src="img/section-1-img.png" class="img-responsive center-block" alt=""/>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6 mt7">
                            <div class="text">
                                <div class="text-wrapper">
                                    <p>За 2016 год россияне съели <span class="medium">7,4 млн тонн</span> мучных изделий – <span class="medium">от 70 до 175 кг</span> каждый!</p>

                                    <p class="mt3 always">Но за последние 5 лет предпочтения покупателей изменились. Люди всё чаще выбирают продукцию частных пекарен, а не огромных цехов и комбинатов. Почему?</p>

                                    <div class="h5 mt3 always">Свежая выпечка по авторским рецептам и натуральные ингредиенты</div>
                                    <div class="medium">вот, что важно людям</div>

                                    <div class="m3 always text-center-xs">
                                        <a href="#" data-toggle="modal" data-target="#send-query" data-title="Оставьте заявку на презентацию франшизы" data-button="Скачать" class="btn btn-yellow btn-lg">Узнать подробности</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-2">
                <div class="container text-white">
                    <div class="h1 text-center mt5 always">Пекарня «ПаПан»</div>
                    <div class="h3 text-center">Авторская выпечка в уютном формате</div>

                    <div class="mt7 always medium text-center-sm">Когда мы открывали первую пекарню<br/>в 2012 году, то взяли за основу формулу:</div>

                    <div class="images-block">
                        <div class="col-md-6">
                            <div class="part part-one">&nbsp;</div>
                        </div>
                        <div class="col-md-6">
                            <div class="part part-two">&nbsp;</div>
                        </div>
                    </div>

                  <!--   <div class="h2 mt7 always text-center-sm">11 пекарен, 30 млн выручки с каждой</div> -->
                    <div class="m5 always text-center-sm">За четыре года мы открыли 11 пекарен. Клиенты получают вкусную выпечку<br class="hidden-xs"/> и заботливый сервис, а мы – легко открываем и окупаем новые пекарни!</div>
                    <div class="text-center-sm">
                        <a href="#" data-toggle="modal" data-target="#send-query" data-title="Оставьте заявку на презентацию франшизы" data-button="Скачать" class="btn btn-yellow btn-lg">Узнать подробности</a>
                    </div>

                </div>
            </section>

            <section class="section section-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 content">
                            <div class="h1 mt10 always">Откройте&nbsp;пекарню под брендом «ПаПан»</div>
                            <div class="h3 mt5 always">и заработайте <span class="text-orange">от 3,7 млн</span> рублей в первый год работы</div>

                            <div class="mt5 always">Франшиза даёт вам преимущество перед самостоятельным открытием</div>

                        </div>
                        <div class="col-md-6">
                            <div class="img-block"></div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="section section-4">
                <div class="container">
                    <div class="h1 text-center">Вы получаете весь наш опыт</div>

                    <div class="m5 always images">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <img src="img/section-4-img-1.jpg" class="img-responsive" alt="" title=""/>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <img src="img/section-4-img-2.jpg" class="img-responsive" alt="" title=""/>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <img src="img/section-4-img-3.jpg" class="img-responsive" alt="" title=""/>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <img src="img/section-4-img-4.jpg" class="img-responsive" alt="" title=""/>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <img src="img/section-4-img-5.jpg" class="img-responsive" alt="" title=""/>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <img src="img/section-4-img-6.jpg" class="img-responsive" alt="" title=""/>
                            </div>
                        </div>
                    </div>

                    <div class="parts">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center-sm">
                                <div class="h3">Полный состав франшизы мы описали в презентации</div>
                                <div class="mt2 always">Сохраните, чтобы изучить в свободное время!</div>

                                <div class="m5 always">
                                    <a href="#" data-toggle="modal" data-target="#send-query" data-title="Оставьте заявку на презентацию франшизы" data-button="Скачать" class="btn btn-yellow btn-lg btn-block-xs">Сохранить презентацию</a>

                                    <div class="pdf hidden-xs">PDF, 15 Mb</div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <img src="img/section-4-img-last.jpg" class="img-responsive block-center-sm" alt="" title=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-5">
                <div class="container">
                    <div class="h1 ">Что необходимо для старта?</div>

                    <div class="needs m7 always">
                        <ul class="clearfix">
                            <li>
                                <div class="h2 text-orange">8 недель</div>
                                <div>на открытие</div>
                            </li>
                            <li>
                                <div class="h2 text-orange">350 000 руб.</div>
                                <div>на франшизу</div>
                            </li>
                            <li>
                                <div class="h2 text-orange">от 5,9 млн руб.</div>
                                <div>на пекарню</div>
                            </li>
                        </ul>
                    </div>

                    <div>На основе нашего опыта гарантируем:<br/><span class="super medium">вы выйдете на прибыль уже в первый месяц после открытия</span></div>

                    <div class="mt3 always">
                        <a href="#" data-toggle="modal" data-target="#send-query" data-title="Получить бесплатный расчет инвестиций" data-button="Запрос" class="btn btn-yellow btn-lg btn-block-xs">Получить бесплатный расчет инвестиций</a>

                    </div>

                </div>
            </section>


            <section class="section section-6">
                <div class="container">
                    <div class="h1 text-white text-center">Зарабатывайте с нами</div>
                    <div class="h3 mt1 text-white text-center always">на вкусной выпечке с наценкой до 500%</div>
                    <div class="row mt10 always">
                        <div class="col-sm-10 col-sm-offset-1">
                            <form class="form" data-next="#send-additional-form">
                                <fieldset class="fieldset">
                                    <legend class="super text-white text-center">Проверьте, свободен ли ваш город для приобретеня франшизы?</legend>

                                    <div class="form-group col-md-5">
                                        <input type="text" required="" class="form-control" name="city" placeholder="Ваш город">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <input type="tel" required="" class="form-control" name="phone" placeholder="Телефон">
                                    </div>

                                    <div class="margin-top-20 col-md-3">
                                        <button type="submit" class="btn btn-yellow btn-block">Проверить</button>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </section>

            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="copyright">
                                &copy;&nbsp;ПаПан,&nbsp;2017 сеть&nbsp;пекарен
                            </div>
                        </div>
                        <div class="col-md-6 col-md-push-4 col-sm-8">
                            <div class="contacts-footer">
                            <div class="row">
                                <div class="col-sm-8">
                                    <a href="tel:89100007373" class="phone"><span class="glyphicon glyphicon-earphone"></span>8 910 000-73-73</a>
                                </div>
                                <div class="col-sm-4">
                                    <div class="callback-wrap">
                                        <a href="#" class="callback" data-toggle="modal" data-target="#send-query" data-title="Заказать звонок" data-button="Заказать">Заказать звонок</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-md-2 col-md-pull-6 col-sm-6">
                            <div class="privacy">
                                <a href="#">Политика конфиденциальности</a></div>
                            </div>
                      <!--   <div class="col-md-2 col-md-pull-6 col-sm-6">
                            <div class="social">
                                Мы в социальных сетях<br class="visible-lg visible-xs"/>
                                <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="thanks" style="display: none;">
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="/" class="logo clearfix text-white">
                                <span class="logo-image"><img src="img/logo.png" class="img-responsive" alt=""/></span>
                                <span class="logo-text">«ПаПан»<br/>План по открытию<br/>авторской пекарни за 8 недель</span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <div class="contacts pull-right">
                                <div class="text-right">
                                    <a href="tel:89100007373" class="phone text-white"><span class="glyphicon glyphicon-earphone"></span><span class="appetite">8 910 000-73-73</span></a>
                                </div>
                                <div class="text-right">
                                    <a href="#" class="callback text-white" data-toggle="modal" data-target="#send-query" data-title="Заказать звонок" data-button="Заказать">Заказать звонок</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center text-white mt10 always"><span class="js-user-name">Иван, наши</span> менеджеры уже занимаются вашей заявкой</h1>
                            <div class="super text-white text-center mt5 always">Мы постараемся связаться с вами в ближайшее время</div>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-2 mt3 always">
                                        <a href="Papan.pdf" download="" class="btn btn-yellow btn-lg btn-block">Скачать презентацию</a>
                                        <div class="text-center text-white mt2 always">PDF, 15 Mb</div>
                                    </div>
                                    <div class="col-md-4 mt3 always">
                                        <a href="#" class="btn btn-yellow btn-lg invert btn-block js-go-home">Вернуться на сайт</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-white text-center m7 always">
                                График работы с 9:00 до 18:00<br/>Поэтому, если вы оставили заявку в нерабочее время,<br/>мы перезвоним вам на следующий рабочий день
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="copyright">
                                &copy;&nbsp;ПаПан,&nbsp;2017 сеть&nbsp;пекарен
                            </div>
                        </div>
                        <div class="col-md-6 col-md-push-4 col-sm-8">
                            <div class="contacts-footer">
                            <div class="row">
                                <div class="col-sm-8">
                                    <a href="tel:89100007373" class="phone"><span class="glyphicon glyphicon-earphone"></span>8 910 000-73-73</a>
                                </div>
                                <div class="col-sm-4">
                                    <div class="callback-wrap">
                                        <a href="#" class="callback" data-toggle="modal" data-target="#send-query" data-title="Заказать звонок" data-button="Заказать">Заказать звонок</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-md-2 col-md-pull-6 col-sm-6">
                            <div class="privacy">
                                <a href="Politika.pdf" target="blank">Политика конфиденциальности</a></div>
                            </div>
                      <!--  <div class="col-md-2 col-md-pull-6 col-sm-6">
                            <div class="social">
                                Мы в социальных сетях<br class="visible-lg visible-xs"/>
                                <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade popup-modal" tabindex="-1" role="dialog" id="send-query">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <form class="query-form" method="POST" data-type="popup" data-name="" data-next="#send-additional-form" data-goal="ORDER">
                        <fieldset class="fieldset">
                            <legend class="medium h3" id="send-query-title">Заголовок</legend>

                            <input type="hidden" id="send-query-target" name="target" />

                            <div class="form-group">
                                <input type="email" id="email9" required="" class="form-control" name="email" placeholder="Ваше email">
                            </div>
                            <div class="form-group">
                                <input type="tel" required="" class="form-control" id="phone9" name="phone"  placeholder="Телефон">
                            </div>

                            <div class="mt-20">
                                <button type="submit" class="btn btn-yellow" id="send-query-button" value="1" name="submit">Текст кнопки</button>
                            </div>
                        </fieldset>
                    </form>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade popup-modal send-additional last" tabindex="-1" role="dialog" id="send-additional">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <form class="form" id="send-additional-form" method="POST">
                        <fieldset class="fieldset">
                            <legend>
                                <p class="h3 medium">Спасибо!</p>
                                <p>В ближайшее время мы обработаем Вашу заявку. Для того, чтобы наш специалист мог максимально подробно ответить на все Ваши вопросы, заполните, пожалуйста, следующую форму. Заранее благодарим</p></legend>
                            <!-- form-group -->
                            <div class="form-group">
                                <!-- <div class="form-group__label">Введите Ваш город</div> -->
                                <div class="form-group__in">
                                    <input type="hidden" name="city">
                                    <input type="text" class="form-control" name="UF_CRM_1430207490" id="cityM2" placeholder="Город" required="" >
                                </div>
                            </div>
                            <!-- form-group -->
                            <div class="form-group">
                                <!-- <div class="form-group__label">Введите Ваш возраст</div> -->
                                <div class="form-group__in">
                                    <input type="hidden" name="age">
                                    <input type="text" name="UF_CRM_1433149068" id="ageM2"  class="form-control"  placeholder="Возраст" required="" >
                                </div>
                            </div>
                            <!-- form-group -->
                            <div class="form-group">
                                <div class="form-group__label">Наличие бизнеса/Опыт бизнеса</div>
                                <!-- select -->
                                <input type="hidden" name="business">
                                <select class="form-control" name="UF_CRM_1433149149" id="expM2" required="">
                                    <option>да</option>
                                    <option>нет</option>
                                </select>
                            </div>
                            <!-- form-group -->
                           <!--  <div class="form-group">
                                <div class="form-group__label">Объем планируемых инвестиций</div>
                                                                <input type="hidden" name="volume">
                                <select class="form-control" name="UF_CRM_1433149089" id="volumeM2" required="">
                                    <option>100 000 - 250 000 рублей</option>
                                    <option>250 000 - 500 000 рублей</option>
                                    <option>500 000 - 750 000 рублей</option>
                                    <option>750 000 - 1 000 000 рублей</option>
                                    <option>1 000 000 - 1 500 000 рублей</option>
                                    <option>1 500 000 - 3 000 000 рублей</option>
                                    <option>Более 3 000 000</option>
                                </select>
                            </div> -->
                            <div class="mt-20">
                                <button type="submit" class="btn btn-yellow btn-block" value="1" name="submit">Получить предложение</button>
                            </div>
                        </fieldset>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/jquery/jquery-1.12.4.min.js"></script>

        <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/intl-tel-input/js/intlTelInput.min.js"></script>

        <script src="js/general-wl.js?ver=1.00001"></script>
        <script src="js/main.js?ver=1.00001"></script>
    </body>
</html>