footer.footer
    div.container.footer__container
        p.footer__text.footer__text_copy.
            © Испанский дворик, 2017
        div.footer__block
            a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                Политика<br> конфиденциальности
            div.footer__social
                p.footer__social-title.
                    Мы в социальных сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="https://vk.com/spanishfoodstore" target="_blank").footer__link.footer__social-link
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="http://spanishfood.ru/" target="_blank").footer__link.footer__social-link
                            i.fa.fa-globe
        div.footer__block.footer__block_contacts
            a(href="tel:88006005030" data-phone="88006005030").footer__phone.phone.phone_white.phone-link.fw-light.
                8 800 600-50-30
            a(href="").footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок