section.sec.sec1
    include header
    div.container.color-white.ta-center
        div.decor-line
            div.decor-line__img.decor-line__img_sec1
        h2.miletta.
            Получите тройную прибыль, пока действуют санкции
        p.text.text_xl.sec1__subtitle.
            Балуйте жителей вашего города испанскими деликатесами – зарабатывайте от 1,8 млн рублей в год
        a(href="").btn-round.btn-round_download.fw-light.js-small-btn.
            Скачать презентацию
