section.sec.sec2
    div.container
        div.sec2__text
            h3.color-dred.miletta.
                Русская франшиза испанских деликатесов
            p.text.text_m.
                Испания – родина вкуснейших вин, сыров и морских деликатесов. Однако санкции сократили поток продуктов из Европы в Россию на 43%!
            p.text.text_m.
                Ценителей испанских продуктов не убавилось – а число мест, где продукты можно приобрести, уменьшилось почти до нуля.
            img(src="img/sec2-man.png", alt="").sec2__img-mobile
    div.sec-full.sec-full_bg-gray.sec2__sec-full
        div.container
            img(src="img/sec2-man.png", alt="").sec2__img
            div.sec2__text
                p.text.text_l.
                    «Испанский дворик» не только пережил сокращение рынка, но и продолжил развитие по Москве и МО
                a(href="").btn-round.btn-round_download.btn-round_clear.fw-light.js-small-btn.
                    Скачать презентацию

