section.sec.sec3
    img(src="img/sec3-top-left.png", alt="").sec3__img.sec3__img_top-left
    img(src="img/sec3-center-left.png", alt="").sec3__img.sec3__img_center-left
    img(src="img/sec3-top-right.png", alt="").sec3__img.sec3__img_top-right
    div.container
        div.sec3__border-container
            img(src="img/sec3-decor.png", alt="").sec3__border-img.sec3__border-img_desktop
            img(src="img/sec3-top-right.png", alt="").sec3__border-img.sec3__border-img_mobile
            div.sec3__border
                h3.miletta.ta-center.
                    С 2012 года мы открыли 4 магазина испанских деликатесов
                p.text.text_l.ta-center.sec3__border-text.
                    В основе нашего ассортимента – 400 наименований премиальной продукции из Испании:
                ul.sec3__border-list
                    li.sec3__border-list-item.
                        Хамон, сыровяленые колбасы и сыровяленая говядина
                    li.sec3__border-list-item.
                        Маслины, каперсы, артишоки, пекильо и спаржа
                    li.sec3__border-list-item.
                        Морепродукты 
                    li.sec3__border-list-item.
                        Изысканные испанские десерты
                    li.sec3__border-list-item.
                        Сыры и сырные изделия
                    li.sec3__border-list-item.
                        Безалкогольные вина, сидр и пиво
                    li.sec3__border-list-item.
                        Оливковое масло, соленые и маринованные оливки
            img(src="img/sec3-center-right.png", alt="").sec3__border-img.sec3__border-img_mobile-right-bottom
            img(src="img/sec3-decor.png", alt="").sec3__border-img.sec3__border-img_mobile-left-bottom
        div.sec3__note
            img(src="img/sec3-icon.png", alt="").sec3__note-img
            span.text.text_xl.sec3__note-text.
                Наши постоянные клиенты – гурманы, кафе и рестораны.
        div.sec3__btn-container
            a(href="").btn-round.fw-light.js-small-btn.
                Узнать подробности
    div.sec-full.sec-full_bg-gray.sec3__sec-full
        img(src="img/sec3-bottom-right.png", alt="").sec3__img.sec3__img_bottom-right
        img(src="img/sec3-center-right.png", alt="").sec3__img.sec3__img_center-right
        div.container
            div.sec3__bottom-text
                p.text.text_xl.
                    Востребованная продукция и эффективная реклама позволяет нам зарабатывать до 430 000 рублей в месяц чистыми с одного магазина
        img(src="img/sec3-bottom-left.png", alt="").sec3__img.sec3__img_bottom-left


