section.sec.sec4
    div.container
        h3.color-dred.miletta.ta-center.
            Используйте наш опыт – и получите первую прибыль уже через 45 дней
        p.text.text_xl.ta-center.sec4__subtitle.
            В 2017 году мы возьмём в команду партнёров из 20 городов России. Станьте одним из них – получите всё необходимое:
        ul.sec4__list
            li.sec4__list-item
                div.sec4__list-border
                    img(src="img/sec4-img1.png", alt="").sec4__list-img
                p.text.text_m.sec4__list-text.
                    Пошаговый план открытия магазина
            li.sec4__list-item
                div.sec4__list-border
                    img(src="img/sec4-img2.png", alt="").sec4__list-img
                p.text.text_m.sec4__list-text.
                    Право использования бренда «Испанский дворик»
            li.sec4__list-item
                div.sec4__list-border
                    img(src="img/sec4-img3.png", alt="").sec4__list-img.sec4__list-img_3
                p.text.text_m.sec4__list-text.
                    Регулярные поставки изысканных испанских деликатесов, хамона и масел
            li.sec4__list-item
                div.sec4__list-border
                    img(src="img/sec4-img4.png", alt="").sec4__list-img.sec4__list-img_4
                p.text.text_m.sec4__list-text.
                    Маркетинговую стратегию и рекламные материалы
        p.text.text_xl.sec4__text-container.
            Франшиза состоит из 10+ компонентов. Подробное описание смотрите в презентации:
        div.sec4__btn-container
            a(href="").btn-round.btn-round_download.btn-round_clear.fw-light.js-small-btn.
                Скачать презентацию
    div.sec-full.sec-full_bg-gray.sec4__sec-full
        div.container.sec4__bottom-container
            div.sec4__bottom-text-container
                p.text.text_xl.
                    Опыт в сфере торговли желателен, но не обязателен.
                p.text.text_m.
                    Главный критерий выбора партнёров – инициативность и совпадение взглядов на ведение бизнеса!
            img(src="img/sec4-man.png", alt="").sec4__bottom-img