section.sec.sec5
    div.container
        h3.color-dred.miletta.ta-center.
            Что потребуется для старта?
        ul.sec5__list
            li.sec5__list-item
                p.sec5__list-title.
                    650 000 ₽
                p.text.text_m.
                    Приобрести франшизу
            li.sec5__list-item
                p.sec5__list-title.
                    45 <span>дней</span>
                p.text.text_m.
                    Потратить время на запуск
            li.sec5__list-item
                p.sec5__list-title.
                    <span>от</span> 1 600 000 ₽
                p.text.text_m.
                    Подготовить помещение и купить продукцию
        p.text.text_xl.ta-center.sec5__subtitle.
            Действуйте по нашим инструкциям, и заработайте от 1,8 млн рублей уже в первый год работы! при поддержке известного бренда!
