section.sec.sec6
    div#bottomFormContainer.container.color-white.ta-center
        h3.miletta.
            Откройте лавку испанских вкусностей в вашем городе при поддержке известного бренда!
        p.text.text_m.
            Реализуйте продукцию с наценкой до 60% и сделайте состояние на деликатесах из Европы.
        div.decor-line
            div.decor-line__img.decor-line__img_sec6
        p.text.text_xl.sec6__form-title.
            Проверьте, доступен ли ваш город для приобретения франшизы?
        form(data-next="#bigForm")#bottomForm.sec6__form
            label.sec6__form-label
                input(type="text" name="city" placeholder="Ваш город" required).input.input_city
            label.sec6__form-label
                input(type="text" name="phone" placeholder="Телефон" required).input.input_phone
            label.sec6__form-label
                input(type="email" name="email" placeholder="E-mail" required).input
            button.btn-round.
                Проверить
    include footer