section.sec.sec6
    div.container.color-white.ta-center
        h3.miletta.
            Откройте лавку испанских вкусностей в вашем городе при поддержке известного бренда!
        p.text.text_m.
            Реализуйте продукцию с наценкой до 60% и сделайте состояние на деликатесах из Европы.
        div.decor-line
            div.decor-line__img.decor-line__img_sec6
        p.text.text_xl.
            Проверьте, доступен ли ваш город для приобретения франшизы?
    include footer